.partner-img {
    height: 50px; /* Feste Höhe von 25px */
    width: auto; /* Automatische Breite */
    display: flex;
    align-items: center;
    object-fit: contain; /* Bildinhalt skalieren, um in den Rahmen zu passen */
}
