:root {
    --blue: #1a8dff;
    --red: #ff1a1a;
    --darkgray: #252525;
    --midgray: #353535;
    --lightergray: #505050;
    --lightgray: #9E9E9E;
    --code-bg: #1e1e1e;
    --code-text: red;
}



html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: var(--lightgray);
    font-family: Arial, sans-serif;
    background-color: var(--darkgray); 
    text-align: left;
}

.site {
    margin-top: 15%;
    margin-bottom: 10%;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: var(--darkgray);

    box-shadow: 0 1px 2px var(--lightergray);
    height: 10%;
}


.header-container {
    height: 100%;
    margin-left: 3%;
    display: flex;
    gap: 1%;
    align-items: center;
}

.header h1,
.header i,
.header button {
    color: var(--lightgray);
    background: none;
    border: none;
}

.header h1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1;
}

.header i {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    vertical-align: middle;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.dropdown-button i {
    margin-left: 10px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--midgray);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: var(--lightgray);
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.userprompt {
    margin-left: auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5%;
    border: 2px solid var(--midgray);
    background-color: var(--midgray);
    border-radius: 25px;
    max-width: 60%; 
    word-wrap: break-word;
}

.promptbg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--darkgray);
    position: fixed;
    width: 100vw;
    height: 14%;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.prompt {
    height: 11%;
    padding: 1%;
    background-color: var(--midgray);
    width: 94%;
    color: var(--lightgray);
    position: fixed;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    border: 2px solid var(--lightgray);
    border-radius: 20px;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.prompt button {
    background-color: var(--lightgray);
    margin-left: auto;
    padding: 1%;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt img {
    transform: scale(1.2);
}




.prompt-start {
    height: 11%;
    padding: 1%;
    background-color: var(--midgray);
    width: 94%;
    color: var(--lightgray);
    position: fixed;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    border: 2px solid var(--lightgray);
    border-radius: 20px;
    top: 50%;                
    left: 50%;               
    transform: translateX(-50%);
    z-index: 1; 
}



.prompt-start button {
    background-color: var(--lightgray);
    margin-left: auto;
    padding: 1%;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt-start img {
    transform: scale(1.2);
}

textarea {
    border: none;
    width: 80%;
    font-size: 15px;
    line-height: 1.5;
    color: var(--lightgray);
    background-color: var(--midgray);
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
    overflow-wrap: break-word;
}

textarea:focus {
    outline: none;
    border: none;
    width: 80%;
    font-size: 15px;
    line-height: 1.5;
    color: var(--lightgray);
    background-color: var(--midgray);
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
    overflow-wrap: break-word;
}

textarea::placeholder {
    color: var(--lightgray);
}

.start {
    padding: 1%;
    width: 94%;
    color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    top: calc(50% - 10% - 5.5%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}


#errorinfo {
    text-align: center;
    color: var(--lightgray);
    font-size: 12px;
    margin-top: 5px;
    width: 100%;
    position: fixed;
    bottom: -1.2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.block {
    margin-left: 10%;
    margin-right: 10%;
    width: 76%;
    padding: 2%;
    margin-bottom: 10%;
    border: 1px solid var(--midgray);
    border-radius: 15px;
    display: inline-block;
}

.copy-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    color: var(--lightgray);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.copy-btn:hover {
    background: none;
    color: var(--lightergray);
}

pre {
    position: relative;
    margin-bottom: 2%;
}

pre code {
    background: var(--code-bg);
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    white-space: pre-wrap;
    overflow-x: auto;
    display: block;
}

a {
    color: var(--lightgray);
}