.slider {
    overflow: hidden;
    height: 100px;
    position: relative;
    
    border-radius: 10px;
}

.slider-partners .partners{
    display: flex;
    width: calc(500px * 9); /* Partner Amount +2 */
    animation: slide 15s linear infinite;
}

.slider-partners .partners div {
    width: 500px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    color: #fff;
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-3500px); } /* Partner Amount * 500 and - 500 at the End*/
}